body{
    padding: 0;
    margin: 0;
}
/*Barra de navegación*/
.navbar{
    padding: 1rem;
    background-color: #f4f4f4;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.col{
    background-color: green;
    border: 1px solid black;
    color: #fff;
    font-size: 23px;
}

@media screen and (max-width: 768px) {
    .navbar-brand{
        display: none;
    }
}
